.dt-global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .dt-item {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &-plate {
            height: 260px;
            width: 300px;
            display: flex;
        }

        &-w {
            display: flex;
            margin: 20px;
            flex-direction: column;
            justify-content: center;
            width: 310px;
        }

        &-title {
            div:nth-child(1) {
                font-size: 30px;
                font-weight: bolder;
            }

            div:nth-child(2) {
                font-size: 16px;
            }
        }

        &-cont {
            font-size: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        &-footer {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            height: 20px;
            margin-top: 5px;
            margin-bottom: 5px;

            >a>div {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                color: #337ecc;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}