.dt-global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .dt-item {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        margin: 20px;
        width: 80vw;

        &-plate {
            height: 100%;
            width: 320px;
            display: flex;
        }

        &-w {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            width: 320px;
        }

        &-title {
            div:nth-child(1) {
                font-size: 30px;
                font-weight: bolder;
            }

            div:nth-child(2) {
                font-size: 16px;
            }
        }

        &-cont {
            font-size: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        &-footer {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            height: 20px;
            margin-top: 5px;
            margin-bottom: 5px;

            >a>div {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                color: #337ecc;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}