.fpic-global {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .fpic-item {
        display: flex;
        flex-wrap: wrap;
        margin: 25px 40px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;


        &-img {
            height: 100px;
            width: 100px;
        }

        &-cont {
            margin: 5px;

            &-title {
                font-weight: bolder;
                font-size: 25px;
            }

            &-subtitle {
                font-size: 18px;
            }
        }
    }
}