.fpic-global {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .fpic-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 200px;
        width: 210px;

        &-img {
            height: 100px;
            width: 100px;
        }

        &-cont {
            margin: 5px;

            &-title {
                margin: 2px;
                font-weight: bolder;
                font-size: 18px;
            }

            &-subtitle {
                margin: 2px;
                font-size: 14px;
            }
        }
    }
}