.not-found {
    display: flex;
    margin: 0 auto;
    height: 300px;
    align-items: center;
    text-align: center;
    justify-self: center;
    font-size: 40px;
    font-weight: bolder;
    justify-content: center;
}