.sv-global {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sv-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 20px;

        &-title {
            margin: 20px;

            div:nth-child(1) {
                font-size: 45px;
                font-weight: bolder;
            }

            div:nth-child(2) {
                font-size: 28px;
            }
        }

        &-cont {
            display: flex;
            flex-direction: column;
            font-size: 18px;
        }
    }
}